.app-main {
  display: flex;
  justify-content: center;

  .red-green-refactor {
    width: 60%;
    min-width: 800px;
  }

  .specific {
    position: fixed;
    z-index: 2;
  }
}

.profile-container {
  padding-bottom: 5rem;
  background-color: rgb(83, 173, 9);

  .profile-div {
    background-color: rgb(75, 199, 240);
    display: flex;

    .profile-name {
      color: white;
      -webkit-text-stroke: 1.5px rgba(0, 0, 0, 1);
      font-weight: bold;
      font-size: 5rem;
      padding: 0.3em;
      z-index: 3;
      position: relative;
    }
  }
}

.add-buttons {
  margin: 1.5em;
  display: flex;
  justify-content: center;
  align-items: space-between;
}
.add-list-button {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(3, 67, 70);
  margin: 0 2em 0.2em 2em;
  padding: 1.2rem 3rem;
  -webkit-text-fill-color: white;
  text-decoration: none;
  font-size: 2rem;
}
// .add-list-button:visited {
//   text-decoration: none;
//   color: white;
// }
// .add-list-button:hover {
//   text-decoration: none;
//   color: white;
// }
// .add-list-button:focus {
//   text-decoration: none;
//   color: white;
// }
.add-list-button:hover,
.add-list-button:active,
.add-list-button:visited,
.add-list-button:focus {
  text-decoration: none;
  color: white;
}

.list-container {
  padding: 3rem;

  .list-item {
    padding: 0.5rem 0;
    margin: 1em 0;
    max-width: 30rem;
    display: flex;
    justify-content: flex-start;

    .list-item-text {
      max-width: 80%;
      font-weight: bold;
      font-size: 2rem;
      margin-right: 2em;
      color: rgb(3, 67, 70);
      -webkit-text-stroke: 0.5px rgba(0, 0, 0, 1);
    }

    .list-item-button {
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: bold;
      background-color: white;
      border: 1.5px solid rgb(2, 63, 2);
      border-radius: 5px;
      padding: 0.2em 0.8em;
    }

    .list-item-button:hover {
      color: green;
      background-color: black;
    }
  }

  .headers {
    text-decoration: underline;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: rgb(167, 236, 28);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 1% 10px;
  background-color: rgb(75, 199, 240);

  .toggle-menu {
    display: flex;
    align-items: baseline;

    .nav-item {
      cursor: pointer;
      font-size: 3rem;
      font-weight: bold;
      text-decoration: none;
      margin: 0 10px;
      color: rgb(80, 80, 80);
      background-color: rgb(75, 199, 240);
      border: none;
    }
  }

  .hamburger {
    margin: 0 10px 0 40px;

    ul {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 25px;

      li {
        width: 100%;
        height: 3px;
        background-color: #002e5b;
        margin-bottom: 4px;
      }

      li:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.none {
  display: none !important;
}

// =========================tablet view

@media screen and (max-width: 800px) {
  .nav-bar {
    padding-top: 15px;

    .toggle-menu {
      .nav-item {
        font-size: 2.5rem;
      }
    }
  }

  .app-main {
    .red-green-refactor {
      width: 100%;
      min-width: 200px;
    }
  }

  .profile-container {
    .profile-div {
      .profile-name {
        font-size: 4rem;
      }
    }
  }

  .add-list-button {
    font-size: 1.5rem;
  }

  .list-container {
    .headers {
      font-size: 3rem;
    }
  }
}

// =============================mobile view

@media screen and (max-width: 500px) {
  .nav-bar {
    padding-top: 15px;

    .toggle-menu {
      .nav-item {
        margin: 0 5px;
        font-size: 2rem;
      }
    }

    .hamburger {
      margin-left: 20px;
    }
  }
  .profile-container {
    .profile-div {
      .profile-name {
        font-size: 3rem;
      }
    }
  }

  .list-container {
    .list-item {
      .list-item-text {
        font-size: 1.5rem;
      }
    }

    .headers {
      font-size: 2.5rem;
    }
  }
}
