.profile-container {
  padding-bottom: 15rem;

  .add-list-button {
    background-color: blue;
  }

  .link {
    //background-color: green;
  }
}

.list-container {
  padding: 3rem;

  .list-item {
    padding: 0.5rem 0;
    max-width: 30rem;
    display: flex;
    justify-content: space-between;

    .list-item-text {
      font-size: 1.8rem;
    }

    .list-item-button {
      font-size: 1.8rem;
      font-weight: bold;
      background-color: white;
      border: none;
    }

    .list-item-button:hover {
      color: green;
    }
  }
}

.headers {
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
