.login-container {
  display: flex;
  justify-content: center;

  .login-width-container {
    width: 60%;
    min-width: 800px;
    height: 100vh;
    background-color: #c7ebc7;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin: 10% 0 5% 0;
      text-align: center;
      font-size: 5rem;
      font-weight: bold;
      color: whitesmoke;
      -webkit-text-stroke: 1.5px rgba(0, 0, 0, 1);
    }

    .login-form {
      background-color: @wild-sand;
      display: flex;
      flex-direction: column;
      background-color: white;
      margin-top: 5%;
      padding: 2rem;
      max-width: 50%;

      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-field {
          height: 3.5rem;
          max-width: 80%;
          min-width: 25rem;
          margin-bottom: 1rem;
        }

        .invalid-input {
          background-color: rgb(228, 108, 108);
          &::placeholder {
            color: black;
            font-weight: bold;
          }
        }
      }

      p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .input-button {
    color: darkgreen;
    width: 100%;
    font-size: 1.8rem;
    // margin: trbl;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    border-radius: 1rem;
    &:disabled {
      color: rgb(66, 75, 66);
      background-color: rgb(169, 184, 169);
    }
  }
}

// =========================tablet view

@media screen and (max-width: 800px) {
  .login-container {
    width: 100vw;

    .login-width-container {
      width: 100%;
      min-width: 300px;
    }
  }
}

// =========================mobile view

@media screen and (max-width: 500px) {
  .login-container
    .login-width-container
    .login-form
    .input-fields
    .input-field {
    width: 100%;
    max-width: 250px;
    min-width: 175px;
  }
}
